@model Hotelmanagementsystem.Models.Adminmodel
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post,
    new { @class = "form", id = "LoginForm" }))
    {
        <div class="col-lg-8 col-md-8 ml-auto mr-auto mt-5">
            <div class="card card-login ">
                <form class="form">
                    <div class="card-header font-weight-bolder bg-primary text-center text-white" style="margin:0;font-size:initial;font-weight: 400;">
                        Change Password
                    </div>
                    <div class="card-body">

                        @*<p class="text-center text-primary CustomHeader mt-4">Change Password</p>*@
                        <div class="text-danger">
                                @ViewBag.Error
                        </div>
                        <div class="input-group mb-3">
                            <div class="col-4 offset-1 mt-2">
                                <label style="color:black">Enter Old Password</label>
                            </div>
                            @Html.TextBoxFor(m => m.vpassword, new { @class = "col-6 form-control password", placeholder = "Enter Old Password ..." })
                            @Html.ValidationMessageFor(m => m.vpassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="col-4 offset-1 mt-2">
                                <label style="color:black">Enter New Password</label>
                            </div>
                            @Html.TextBoxFor(m => m.vnewpassword, new { @class = "col-6 form-control password", placeholder = "Enter New Password ...", maxlength = 20, type = "Password" })
                        </div>
                        <div class="row">
                            <div class="offset-5 col-7">
                                @Html.ValidationMessageFor(m => m.vnewpassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="col-4 offset-1 mt-2">
                                <label style="color:black">Re-Confirm New Password</label>
                            </div>
                            @Html.TextBoxFor(m => m.vnewConfirmPassword, new { @class = "col-6 form-control password", placeholder = "Confirm Password ...", maxlength = 20 })
                            @Html.ValidationMessageFor(m => m.vnewConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="footer text-center mt-3">
                        <a href="#" id="submit_link" class="btn btn-primary font-weight-bold" style="font-size:15px">Update</a>
                    </div>
                    <div class="mt-3"></div>
                </form>
            </div>
        </div>
    }
</body>
</html>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('a#submit_link').click(function () {
                $('form#LoginForm').submit();
            });
        });


    </script>
}